/* styles */

body {
font-family:Arial,sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 20px;
    font: family("Helvetica Neue",sans-serif);
    flood-color: aqua;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #5900ff9f;
    border: 1px solid #000000fe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: radius 10px;
}

.card:hover {
    background-color: #805331;
}

.card.matched {
    background-color: #5900ff;
    pointer-events:none;
    border: none;
    opacity: 0.8;
}

 